@media (max-width: 768px) {
    .header .navbar {
        position: absolute;
        margin-right: 0;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 0 2rem;
        background: var(--bg-navbar);
        box-shadow: var(--box-shadow);
        display: flex !important;
        flex-direction: column !important;
        align-items: flex-start;
        /* adding clip-path for animation */
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: clip-path 0.4s ease;
    }

    .header .navbar a {
        display: block;
        margin: 0.5rem 0;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        margin-top: 5px !important;
        margin-bottom: 5px !important;
        line-height: 1.5 !important;
    }

    .hamburger {
        display: block;
    }

    #menu-toggle:checked ~ .navbar {
        display: flex !important;
        flex-direction: column !important;
        align-items: flex-start;
        position: absolute;
        left: 0;
        width: 100%;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .project-item,
    .skill-item {
        width: 100%;
        flex-direction: column;
    }

    #toTopBtn {
        width: 40px;
        height: 40px;
        right: 15px;
    }
}
